body {
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: left;
  // align-items: center;
  background: #F0F0EB;
  // overflow: hidden;
  font-family: 'Plantin Head MT Std-serif', serif !important;
  padding-left: 7rem;
}

.header {
  display: grid;
  grid-template-columns: 150px auto 0px;
  height: 10vh;
}

.logoWrapper {
  display: flex;
  background-color: #1A1A1A;
}

.logo {
  color: #E5E5E5;
  font-size: 90px;
  font-weight: bold;
  margin: 0 auto;
}
.headerGrid {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  background: linear-gradient(to bottom, #1A1A1A 50%, #A5FFAE 50%);
  font-family: 'United Sans', sans-serif;
}

.subtitle {
  margin-bottom: 0px auto;
}

h3 {
  font-size: 30px;
  margin-bottom: 24px;
}

.brandHeadline {
  color: #190A05;
  font-size: 100px;
  margin: 1rem auto;
}

.subtitle {
  color: #190A05; 
  font-size: 24x;
  line-height: 24px;
}

.scrollWithParent {
  color: #190A05;
  font-size: 24px;
  margin-bottom: 50px;
  line-height: 24px;
  line-height: 130%;
  font-weight: 600;
  // margin-inline: 25px 40px 90px;
}

.bodyCopy {
  font-size: 20px;
  line-height: 10%;
  margin-top: 2rem;
}

.bodyCopyTwo {
  color: #190A05;
  font-size: 20px;
  letter-spacing: 0.9%;
color: #190A05;
  width: 650px;
  margin-top: 2rem;
  font-family: 'FK Grotesk Neue', sans-serif !important;
  font-weight: 500;
  line-height: 130%;
}

.bodyCopyThree {
  color: #807672;
  font-size: 20px;
  margin-inline: 0px 20px 90px;
  line-height: 10px;
}

.bodyCopyFour {
  margin-top: 1rem;
  font-size: 38px;

}

.vector {
  // display: inline-block;
  // vertical-align: middle;
  // line-height: 130%;
  margin-top: 3rem;
}

.dropdown-container {
  display: flex;
  // align-items: center;
  margin-bottom: 1rem;
  // align-items: start;
  gap: 50px;
}

.dropdown {
  width: 200px;
  margin-bottom: 3rem;
  min-height: 2rem;
  margin-top: 1rem;
}

.side-column {
  display: flex;
  flex-direction: column;
}

.side-column p {
  margin: 0;
  padding: 10px;
  background:  #e0e0db;
  border: 1px solid #ccc;
  cursor: pointer;
}

.side-column p:hover {
  background-color: #e0e0db;
}
